<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>오늘의 할 일</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>📋 오늘의 할 일</h1>
  <ul id="todo-list">
    <!-- * 아래 li 태그 반복 출력-->
      <li data-id="* 해당 todo의 아이디">
        <input type="checkbox" class="toggle-check">
        <span>
          * 해당 todo의 task 출력
        </span>
        <!-- 수정 버튼 => edit.ejs 페이지로 이동 -->
        <form action="*edit.ejs 페이지 이동 요청 경로" method="GET" style="display:inline;">
          <button type="submit">수정</button>
        </form>
        <button class="delete-btn">삭제</button>
      </li>

  </ul>

  <h2>새로운 할 일 추가</h2>
  <!-- * form 태그 기본 속성 신경 쓸것! -->
  <form>
    <input type="text"  placeholder="새로운 할 일을 입력하세요" required>
    <button type="submit">추가</button>
  </form>

  <script>
    // 삭제 버튼 이벤트
    document.querySelectorAll(".delete-btn").forEach(btn => {
      btn.addEventListener("click", async (e) => {
        //1. 선택한 to-do 리스트의 id 값 가져오기
        
        //2. '정말 삭제하시겠습니까?' 를 확인창으로 띄운 후 취소 선택 시 더이상 진행하지 않음
        
        //3. 삭제 요청 경로로 요청 (fetch API 활용)

        //4. 200 OK 코드가 응답올 경우 해당 li 태그 화면에서 삭제
        //   삭제가 안된 경우에는 '삭제 실패' 알림창 띄우기
      });
    });

  </script>
</body>
</html>