<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aiAddress</title>
</head>

<body>
    인공지능사관학교 주소는
    <strong>
        <%=aiAddress%>
    </strong> 입니다.
</body>

</html>