<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aiInfo</title>
</head>

<body>
    <h2> 사관학교 정보 </h2>
    <p>이름 : <%=aiInfo.name%></p>
    <p>주소: <%=aiInfo.address%></p>
    <p>금액: <%=aiInfo.price%></p>
    <p>기수: <%=aiInfo.number%></p>
       
</body>

</html>