<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goodsList</title>
    <style>
        img {
            width: 100px;
            height: 100px;
        }

        div,
        table {
            text-align: center;
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <div>
        <h2>상품목록</h2>
        <form action="goodsAdd">
            <table border="1px solid black">
                <tr>
                    <td><img src="/images/img1.png"></td>
                    <td><img src="/images/img2.png"></td>
                    <td><img src="/images/img3.png"></td>
                    <td><img src="/images/img4.png"></td>
                    <td><img src="/images/img5.png"></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="goods" value="명품꽈배기"></td>
                    <td><input type="checkbox" name="goods" value="귀여운곰돌이"></td>
                    <td><input type="checkbox" name="goods" value="칫솔세트"></td>
                    <td><input type="checkbox" name="goods" value="맥심골드"></td>
                    <td><input type="checkbox" name="goods" value="초소형카메라"></td>
                </tr>
                <tr>
                    <td>명품꽈배기</td>
                    <td>귀여운곰돌이</td>
                    <td>칫솔세트</td>
                    <td>맥심골드</td>
                    <td>초소형카메라</td>
                </tr>
                <tr>
                    <td colspan="5"><input type="submit" value="장바구니 담기"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>