<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
</head>
<body>
    <h2>상품목록</h2>
    <ul>
        <!-- 여기에 해당 클라이언트 쿠키 값을 출력하시오 -->
        <%goods.forEach((g)=> {%>
            <li><%=g%></li>
        <%})%>
    </ul>
</body>
</html>