<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>
    <h2>회원 관리 시스템</h2>
    <button>로그인</button>
    <a href="join"><button>회원가입</button></a>
</body>

</html>